<div class="container">
    <!-- <h3 class="text-center">Kitchen Story</h3> -->
    <h3 class="text-center">Search for products below</h3>
    <div class="form-row justify-content-center align-items-center">
        <form class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" placeholder="Search here" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
<br><br>
<app-products></app-products>